.container00{

    &.container01{
        background-image: url(../../imagens/img-bg_inicial.png);
    }

    &.container02{
        background-image: url(../../imagens/img-bg_inicial.png);
    }

    &.container03{
        background-image: url(../../imagens/img-bg_inicial.png);
    }

    &.container04{
        background-image: url(../../imagens/img-bg_inicial.png);
    }
}


