.container00{
    &.container01{
        background-image: url(../imagens/home/teste.gif);
    }
    &.container02{
        background-image: url(../imagens/home/img-bg_mission.png);
    }
    &.container03{
        background-image: url(../imagens/home/img-bg_tur.png);
    }
    &.container04{
        background-image: url(../imagens/home/img-bg_FX-28.png);
    }
}

.titlePadding{
    padding-top: 10em;
}
#startArrow{
    padding-top: 10em;
}

.textBlack {
    color: black;
}

@media (max-width: 750px) {
    .titlePadding {
        padding-top: 7.5em;
    }
    .shortTitle,
    .mediumTitle {
        width: auto;
    }
}