.container00{

    &.container01{
        background-color: black;
    }

    &.container02{
        background-color: blue;
    }

    &.container03{
        background-color: black;
    }

    &.container04{
        background-color: blue;
    }
}

.titlePadding{
    padding-top: 10em;
}
