.container00 {
    &.container07 {
        background-image: url(../imagens/mission/img-bg_nave2.png);
        .txt01 {
            width: 50%;
        }
    }
    &.container08 {
        background-image: url(../imagens/fx-28/img-bg_nave2.png);
    }
}