body::-webkit-scrollbar {
    width: .4em;
}
body::-webkit-scrollbar-track{
    padding: .1em;
    background-color: black;
}
body::-webkit-scrollbar-thumb {
    margin: .1em;
    border-radius: 5em;
    background-color: $copy-color;
}
body::-webkit-scrollbar-thumb:hover {
    background-color: $link-hover;
}

.header {
    font-size: .8em;
    font-weight: bold;

    .navItem {
        &:hover{
            color: $link-hover;
        }
    }
}

.container00 {
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.btn {
    padding: $padding-button;
}

.arrowDown {
    display: inline-block;
    width: 1.5em;
    margin-top: 3em;
}

.logoPc{
    width: 15em;
    border-radius: .5em;
    margin: 0 3em 0 -1em;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    font-weight: 500;
    background-color: black;

    a {
        text-decoration: none;
        color: white;

        &:hover{
            color: $link-hover;
        }
    }

    .copyGAS {
        color: $copy-color;
    }

}

// Media querys
@media (max-width: 800px) {
    .container00 {
        background-position: right;
    }
}
@media (max-width: 450px) {
    .btn {
        font-weight: bold;
        background-color: rgba(255, 255, 255, .2);
    }
    .container02 .btn,
    .container03 .btn {
        color: black;
    }
    .container00 {
        & .titlePadding p {
            color: black;
            border-radius: 1em;
            padding: .5em;
            text-shadow: 0 0 .2em #ffffff;
        }
    }
    .logoPc {
        width: 11em;
        margin-top: 1em;
    }
    .footer {
        font-size: .7em;
    }
}

@media (max-width: 350px) {
    .logoPc{
        width: 9em;
    }
}