.header {
    font-size: .8em;
    font-weight: bold;
}

.container00 {
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.arrowDown {
    display: inline-block;
    width: 1.5em;
    margin-top: .5em;
}

.logoPc{
    width: 15em;
    border-radius: .5em;
    margin: 0 3em 0 -1em;
}